* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, rgb(133, 229, 226), rgb(6, 160, 194));
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
 
header {
    font-size: 1.5rem;
}

header, main {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.main-todo-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-todo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

.main-todo-form {
    width: 100%;
}

.main-todo-input {
    width: 100%;
}

form button {
    color:white;
    background: rgb(133, 229, 226);
    cursor: pointer;
    transition: all 0.3s ease;
    width: 3.1rem;
}

form button:hover{
    color: white;
    background: rgb(6, 160, 194);
}

.main-todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-todo-list {
    width: 100%;
    list-style: none;

}

.main-todo-element-wrapper {
    margin: 0.5rem 0;
    padding: 0rem;
    width: 100%;
    background: white;
    color: rgb(6, 160, 194);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5 ease;
}

.main-todo-element-wrapper-text {
    padding-left: 2rem;
}

.main-todo-element-wrapper li {
    flex: 1;
}

.main-todo-element-wrapper-delete, 
.main-todo-element-wrapper-check {
    background-color: rgb(6, 160, 194);
    color: white;
    border: none;
    padding: 0.3rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    font-size: 1rem;
}

.main-todo-element-wrapper-delete {
    background-color: rgb(195, 29, 165);
}

.main-todo-element-wrapper-check {
    background-color: rgb(37, 233, 80);
}


.main-todo-element-wrapper-delete:hover, 
.main-todo-element-wrapper-check:hover {
    background-color: rgb(133, 229, 226);
    color: white;
}

.checked {
    text-decoration: line-through;
    color: grey;
}
